body {
    font-family: Helvetica, sans-serif, Arial;
    margin: 0px;
    font-size: 1.5vw;
}


#logo{margin: 0px;
    padding: 20px;
    font-family:"fredoka one", sans-serif;

}

ul {margin: 0px;
    list-style: none;
}

body > header {
    background-color: lightblue;
    color:white;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    list-style: none;

}

body > header > nav > ul > a {
    list-style: none;
    text-decoration: none;

}

.navbutton {
    color: white;
    text-decoration: dashed;
    padding: 16px;
    border: 1px solid white;
    border-radius: 5%;
    list-style: none;
}

body > main article {
    width: 70%;
    margin: auto;
    color: teal;
}

#main-content {
    display: flex;
    justify-content: space-around;
    color: teal;
}

#main-content > div {
    width: 70%;
}

#Best {
    padding: 15px;
    color: white;
    background-color: lightblue;
}

form {
    text-align: center;
    margin: 1px;
    color: teal;
    outline-color: teal;
}

h2 {
    text-align: center;
    color: lightblue;
}

#Second-Article-Title {
    padding: 0px;
    text-align: left;
}

#Article-1-date {
    padding-bottom: 8%;
}

#author-name {
    text-align: left;
    padding-top: 3%;
}

#soft-hair-quote {
    padding-left: 40px;
}

#Top-Links {
    display: flex;

}

#Top-Links > ul {
    padding: 12px;
}

#top-links > ul > li {
    list-style: none;
    padding: 5px;
}

body > footer {
    background-color: lightblue;
    display: flex;
    color: white;
    padding: 10px;
}


#last-tip {
    padding-bottom: 15px;
}

#footer-ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

#footer-ul > div > li {
    margin-left: 20px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
